<h2><%= @auction.title %></h2>

<div><img src="<%= @auction.primary_picture %>"></div>

<% if @user %>
	<% if @user.id == @current_user.id %>
		<p>You are currently the high bidder on this auction, your highest bid is <%= Utilities.convert_to_price(@highest_bid.amount) %></p>
	<% else %>
		<p><%= @user.username %> is currently the high bidder of this auction </p>
	<% end %>
<% end %>

<% if @auction.status == 'ended' %>
	<p>This auction has ended</p>
<% end %>

<button><%= link_to 'View Bid History', bid_history_path %></button>

<div>
	<p>Category: <%= @auction.category %></p>
	<p>Condition: <%= @auction.condition %></p>
	<p>Description: <%= @auction.description %></p>
	<p>Starting Price: <%= Utilities.convert_to_price(@auction.start_price) %></p>
	<h3>Current Bid: <%= Utilities.convert_to_price(@auction.current_bid) %></h3>
	<p>Ending: <%= @auction.end_time %></p>
</div>

<% if @auction.reserve && @auction.current_bid %>
	<% if @auction.current_bid < @auction.reserve %>
		<p>Reserve not met</p>
	<% else %>
		<p>Reserve met - this item will sell!</p>
	<% end %>
<% end %>

<% if @auction.status == 'live' && @auction.user_id != @current_user.id %>
	<% if logged_in? %>
		<button><%= link_to 'Place a bid', bids_path %></button>
	<% else %>
	<!-- This will need additional work to get the auction or bid page showing again after logging in -->
		<button><%= link_to 'login now to place a bid', new_session_path %></button>
	<% end %>
<% end %>

<% if @auction.user_id == @current_user.id %>
	<button><%= link_to 'Edit auction', edit_auction_path %></button>
	<button><%= link_to 'Delete auction', @auction, :method => :delete, :data => {:confirm => 'Are you sure?'}%></button>
<% end %>

<h3>Questions and Answers</h3>

<% @qas.each do |qa| %>
	<p>Q: <%= qa.question %></p>
	<% if qa.answered %>
		<p>A: <%= qa.answer %></p>
	<% else %>
		<% if @auction.user_id == @current_user.id %>
			<%= form_for qa do |f| %>
				<p>
					<div><%= f.text_area :answer, cols: 100, rows: 5%></div>
					<%= f.hidden_field :auction_id, :value => @auction.id %>
				</p>
				<button>Answer this question</button>
			<% end %>
		<% else %>
			<p>A: The auction owner has not yet answered this question</p>
		<% end %>
	<% end %>
<% end %>

<% if @auction.user_id != @current_user.id %>
	<h3>Ask a question</h3>
	<p>Please note questions cannot be edited or deleted so please write carefully!</p>

	<%= form_for @qa do |f| %>
		<p>
			<div><%= f.text_area :question, cols: 100, rows: 5%></div>
			<%= f.hidden_field :auction_id, :value => @auction.id %>
		</p>
		<button>Post question</button>
	<% end %>
<% end %>







