<h2>My Account Details</h2>

<div>
	<p>First name: <%= @user.first_name %></p>
	<p>Last name: <%= @user.last_name %></p>
	<p>Email address: <%= @user.email %></p>
	<p>Username: <%= @user.username %></p>
</div>

<button><%= link_to 'Edit details', edit_user_path %></button>
<button><%= link_to 'Change password', change_password_path %></button>
<button><%= link_to 'Close account', @user, :method => :delete, :data => {:confirm => 'Are you sure you want to close your account?'}%></button>

<h2>My Auctions</h2>

<p>Click on an auction to view its details</p>

<% @auctions.each do |auction| %>
	<p><h3><a href="<%= auction_path(auction) %>"><%= auction.title %></a></h3></p>
<% end %>

<h2>My Watch List</h2>

<p>Click on an auction to view its details</p>

<% if @watched_auctions %>
	<% @watched_auctions.each do |watched| %>
		<p><h3><a href="<%= auction_path(watched) %>"><%= watched.title %></a></h3></p>
	<% end %>
<% end %>
