<h1>99 Cents Auctions</h1>

<button class="bigbutton"><%= link_to 'Browse Auctions', auctions_path %></button>
<button class="bigbutton"><%= link_to 'List an Auction', new_auction_path %></button>

<div class="photobanner">
	<% if @auctions.length == 5 %>
	  <a href="<%= auction_path(@auctions[0]) %>"><img class="first" src="<%= @auctions[0].primary_picture %>" alt="">
	  <a href="<%= auction_path(@auctions[1]) %>"><img src="<%= @auctions[1].primary_picture %>" alt="">
	  <a href="<%= auction_path(@auctions[2]) %>"><img src="<%= @auctions[2].primary_picture %>" alt="">
	  <a href="<%= auction_path(@auctions[3]) %>"><img src="<%= @auctions[3].primary_picture %>" alt="">
	  <a href="<%= auction_path(@auctions[4]) %>"><img src="<%= @auctions[4].primary_picture %>" alt="">
	<% end %>
</div>
